# Dependencies
node_modules/
*/node_modules/

# Next.js
.next/
*/.next/
out/
*/out/

# Python
__pycache__/
*.py[cod]
*$py.class
*.env
.venv/
env/
venv/
ENV/

# Vercel
.vercel/

# OS & Logs
.DS_Store
Thumbs.db
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
